@charset "UTF-8";

:root {
  --nav-height: 50px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
}

html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a, a:active, a:hover, a:visited {
  color: inherit;
}

a {
  font-family: inherit;
  text-decoration: inherit;
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  margin: 0;
  font-size: 14px;
  color: #333;
  background-color: #f8f8f8;
  line-height: 1.42857143;
  font-family: Pretendard Variable,Pretendard JP Variable,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

.NavBar_className {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
  z-index: 800;
}


.CommunityPostList_CommunityPostList {
  width: 1068px;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.Notice_Notice__iWaxc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  background-color: #1b1c1e;
  border-radius: 8px;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
  opacity: 0;
  visibility: hidden;
  z-index: 1600;
  width: 360px;
}

.MainBar_MainBar {
  position: relative;
  max-width: 1060px;
  height: 50px;
}

.MainBar_MainBar_nav, .MainBar_MainBar_nav_top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.MainBar_MainBar_nav {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.Menu_className {
  height: inherit;
  text-align: center;
  margin: 0;
}

.Aside_className {
  height: 100%;
  padding: 10px 0;
}

.MainBar_MainBar_nav_top>button[id=gnbSignupBtn] {
  display: none;
  color: #36f;
  font-size: 14px;
  line-height: 32px;
  height: 34px;
  border: 1px solid #36f;
  border-radius: 17px;
  padding: 0 14px;
}

.MainBar_MainBar_nav_top_logo {
  display: -ms-flexbox;
  display: flex;
}

.MainBar_MainBar_nav_top .MainBar_hamberger {
  margin-top: -2px;
  margin-right: 15px;
}

.MainBar_MainBar_nav_top .MainBar_hamberger img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;
}

.MainBar_MainBar_logo {
  display: block;
}

.Menu_className li {
  height: inherit;
  display: inline-block;
  position: relative;
}

.Menu_className li a {
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  padding: 15px;
  display: inline-block;
}

.Aside_className>ul {
  height: 100%;
  margin: 0;
}

.Aside_className>ul li {
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Aside_className>ul li .searchButton {
  position: relative;
  margin-top: 5px;
}

.Aside_className>ul li>* {
  height: 100%;
  padding: 0 5px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  line-height: 1;
}

.Aside_className>ul li .signUpButton {
  margin-right: 6px;
  line-height: 1.4;
}

.Aside_className>ul .leftDivision {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.Aside_className>ul li a {
  display: inline-block;
  vertical-align: bottom;
  line-height: 32px;
}

.Aside_className>ul li .dashboardButton {
  font-size: 13px;
  color: #666;
  line-height: 30px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 15px;
  padding: 0 10px;
  margin-left: 15px;
  font-weight: 400;
}

.Aside_className>ul li .menuButton {
  margin-right: 10px;
  padding-left: 5px;
}

.CommunityPostList_aside {
  -ms-flex: 0 0 258px;
  flex: 0 0 258px;
  padding: 0;
  margin: 60px 20px 0 0;
  display: none;
}

.CommunityPostList_CommunityPostList *, .CommunityPostList_CommunityPostList :after, .CommunityPostList_CommunityPostList :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.CommunityPostList_aside .CommunityPostList_aside_area {
  position: fixed;
  top: 100px;
  display: grid;
  grid-row-gap: 14px;
  row-gap: 14px;
}

.MyCommunityProfile_MyCommunityProfile {
  width: 258px;
  height: 123px;
  padding: 23px 24px;
  background-color: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 5px;
}

.MyCommunityProfile_MyCommunityProfile__title {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.MyCommunityProfile_MyCommunityProfile__link {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 37px;
  cursor: pointer;
}

.MyCommunityProfile_MyCommunityProfile__link>.MyCommunityProfile_avatar {
  width: 38px;
  height: 38px;
}

.UserAvatar_UserAvatar {
  width: 28px;
  height: 28px;
  border: 1px solid #ececec;
  border-radius: 50%;
  overflow: hidden;
  background-color: #d8d8d8;
  background-image: url(https://static.wanted.co.kr/images/profile_default.png);
  background-size: cover;
}

.UserAvatar_UserAvatar>img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.MyCommunityProfile_MyCommunityProfile__link>.MyCommunityProfile_username_wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 134px;
  height: 100%;
  margin-left: 10px;
  color: #666;
}

.MyCommunityProfile_MyCommunityProfile__link>.MyCommunityProfile_username_wrapper>.MyCommunityProfile_notLoggedIn {
  text-align: left;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  color: #000;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.MyCommunityProfile_MyCommunityProfile__link>.MyCommunityProfile_arrow {
  position: absolute;
  top: 10.5px;
  right: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.OpenProfileBanner_OpenProfileBanner {
  padding: 20px 15px;
}

.OpenProfileBanner_OpenProfileBanner button {
  height: 88px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  justify-self: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 18px;
  border-radius: 6px;
  background: no-repeat right 34px top/100px url(https://static.wanted.co.kr/images/community/identify_people.png),-webkit-gradient(linear,right top,left top,color-stop(.24%,#01a9fe),to(#2f5fef));
  background: no-repeat right 34px top/100px url(https://static.wanted.co.kr/images/community/identify_people.png),linear-gradient(270deg,#01a9fe .24%,#2f5fef);
}

.OpenProfileBanner_OpenProfileBanner .OpenProfileBanner_message {
  font-weight: 700;
  font-size: 16px;
  color: #f0f0f0;
  max-width: 180px;
  word-wrap: break-word;
  word-break: keep-all;
  line-height: 1.5em;
}

.OpenProfileBanner_OpenProfileBanner .OpenProfileBanner_arrow_right {
  position: absolute;
  right: 10px;
  color: #fff;
  font-size: 25px;
}

.SvgIcon_SvgIcon__root {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: inherit;
  align-items: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
}

.SvgIcon_SvgIcon__root__svg {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: inherit;
}

.RecommendedProfile_RecommendedProfile {
  width: 258px;
  padding: 23px 0;
  background: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 5px;
  position: relative;
}

.RecommendedProfile_RecommendedProfile .RecommendedProfile_rows {
  margin-top: 24px;
  padding: 0 23px 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-row-gap: 20px;
  row-gap: 20px;
}

.RecommendedProfile_RecommendedProfile .RecommendedProfile_rows .RecommendedProfile_item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.RecommendedProfile_RecommendedProfile .RecommendedProfile_rows .RecommendedProfile_item .RecommendedProfile_avatar {
  margin-right: 10px;
  width: 38px;
  height: 38px;
  position: relative;
  overflow: visible;
}

.RecommendedProfile_RecommendedProfile .RecommendedProfile_actions {
  padding: 0 23px;
}

.Button_Button__fullWidth {
  width: 100%;
}

.Button_Button__label {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  display: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -ms-flex-pack: inherit;
  justify-content: inherit;
  color: inherit;
}

.Button_Button__endIcon__sizeMedium {
  margin-left: 5px;
}

.Button_Button__endIcon {
  font-size: 1.2em;
}

.Button_Button__interaction {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0;
  background-color: var(--button-color);
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  will-change: opacity;
}

.CommunityPostList_content {
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.InterestCategory_InterestCategory {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  top: calc(var(--nav-height) + 54px);
  background-color: #fff;
  padding: 0;
  margin-top: -54px;
  z-index: 1;
}

.InterestCategory_InterestCategory__slide {
  width: calc(100% - 70px);
  padding: 10px 0 10px 15px;
  margin: 0;
}

.InterestTagSlide_InterestTagSlide__slide {
  max-width: calc(100% - 40px - 8px);
}

.ScrollSnap_ScrollSnap__hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ScrollSnap_ScrollSnap {
  position: relative;
  display: -ms-flexbox;
  display: flex;
}

.InterestTagSlide_InterestTagSlide__tag__slide__ItlL9 {
  grid-gap: 8px;
  gap: 8px;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5px;
}

.ScrollSnap_ScrollSnap__scroll__x__mandatory__G44vq {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
}

.ScrollSnap_ScrollSnap__scroll__contain__GcLae {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.ScrollSnap_ScrollSnap__scroll__x {
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.ScrollSnap_ScrollSnap__scroll {
  display: -ms-flexbox;
  display: flex;
}

.InterestCategoryItem_InterestCategoryItem {
  padding: 9px 22px!important;
  line-height: 146.7%!important;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  outline: none;
  scroll-snap-align: start;
}

.Button_Button__containedSizeMedium__c2z9c, .Button_Button__outlinedSizeMedium {
  padding: 0 20px;
  min-width: 64px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
}

.Button_Button__outlined, .Button_Button__outlinedPrimary {
  --button-color: #36f;
  color: var(--button-color);
  -webkit-box-shadow: 0 0 0 1px var(--button-color) inset;
  box-shadow: 0 0 0 1px var(--button-color) inset;
}

.Button_Button__outlined {
  border-radius: 1000px;
  background-color: #fff;
}

.Button_Button__root {
  --button-color: #171717;
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  border: none;
  background-color: none;
  cursor: pointer;
  white-space: nowrap;
}

.InterestCategoryItem_InterestCategoryItem__assistiveItem__odWkS, .InterestCategoryItem_InterestCategoryItem__assistiveItem__odWkS:hover {
  color: #8a8a8a;
}
.Button_Button__containedSizeMedium__c2z9c, .Button_Button__outlinedSizeMedium {
  padding: 0 20px;
  min-width: 64px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
}

.Button_Button__outlinedAssistive {
  --button-color: #171717;
  color: var(--button-color);
  font-weight: 500;
  -webkit-box-shadow: inset 0 0 0 1px #e1e2e4;
  box-shadow: inset 0 0 0 1px #e1e2e4;
}

.TagSlide_TagSlide__leftArrow__HznBp {
  left: 0;
  -ms-flex-pack: start;
  /* justify-content: flex-start; */
  background: -webkit-gradient(linear,left top,right top,color-stop(21.82%,#fff),to(hsla(0,0%,100%,0)));
  background: linear-gradient(90deg,#fff 21.82%,hsla(0,0%,100%,0));
}

.TagSlide_TagSlide__arrow {
  display: none;
  position: absolute;
  -ms-flex-align: center;
  align-items: center;
  width: 20px;
  height: 100%;
  z-index: 1;
}

.TagSlide_TagSlide__arrow>button {
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #e1e2e4;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.05);
  color: #8a8a8a;
  position: relative;
}

.TagSlide_TagSlide__rightArrow {
  right: 0;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: -webkit-gradient(linear,right top,left top,color-stop(21.82%,#fff),to(hsla(0,0%,100%,0)));
  background: linear-gradient(270deg,#fff 21.82%,hsla(0,0%,100%,0));
}

.TagSlide_TagSlide__arrow__visible {
  display: -ms-flexbox;
  display: flex;
}

.InterestTagSlide_InterestTagSlide__more {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 34px;
  min-height: 34px;
  border: 1px solid #e1e2e4;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.05);
  box-shadow: 0 4px 4px rgba(0,0,0,.05);
  border-radius: 4px;
  color: #8a8a8a;
  background-color: #fff;
  outline: none;
}

.ProfileForMobile_ProfileForMobile {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 21px 10px 15px;
  width: 70px;
  margin: 0;
}

.ProfileForMobile_ProfileForMobile>button {
  width: 34px;
  height: 34px;
}

.ProfileForMobile_ProfileForMobile>button>.ProfileForMobile_avatar {
  border: 0;
  width: 100%;
  height: 100%;
}

.PostWriteButton_PostWriteButton {
  padding: 29px 29px 31px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.PostWriteButton_writeButton {
  -ms-flex: 1 1;
  flex: 1 1;
  height: 56px;
  padding: 0 19px;
  border-radius: 4px;
  border: 1px solid #e1e2e3;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.PostWriteButton_writeIcon {
  font-size: 25px;
}

.RecommendedPostsView_RecommendedPostsView {
  width: 100%;
  background-color: #fff;
}

.RecommendedPostsTags_RecommendedPostsTags {
  position: relative;
  height: 84px;
  padding: 24px 15px 0;
  margin-top: 10px;
  cursor: pointer;
}

.RecommendedPostsTags_RecommendedPostsTags h2 {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 18px;
  color: #171717;
}

.RecommendedPostsTags_RecommendedPostsTags .RecommendedPostsTags_tag_list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.RecommendedPostsTags_RecommendedPostsTags .RecommendedPostsTags_tag_list ul {
  width: calc(100% - 62px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #8a8a8a;
}

.RecommendedPostsTags_RecommendedPostsTags .RecommendedPostsTags_tag_list ul li.RecommendedPostsTags_tag {
  display: inline;
  margin-right: 6px;
  font-size: 14px;
  font-weight: 500;
}

.RecommendedPostsTags_RecommendedPostsTags .RecommendedPostsTags_tag_list ul+span {
  width: auto;
  margin-left: auto;
  color: #8a8a8a;
}

.PostItem_PostItem {
  display: block;
  margin-bottom: 2px;
  position: relative;
  padding: 15px 14px;
}

.PostItem_PostItem__top {
  margin-bottom: 10px;
}

.PostItem_PostItem__top>a:first-child {
  display: -ms-flexbox;
  display: flex;
  width: 0;
}

.AuthorBox_AuthorBox {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
}

.AuthorBox_AuthorBox__verticalArea {
  text-align: left;
}

.AuthorBox_AuthorBox__horizontalBox__D0ij7, .AuthorBox_AuthorBox__verticalArea {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.AuthorBox_AuthorBox__avatarWrapper {
  position: relative;
  margin-right: 7px;
}

.AuthorBox_AuthorBox__avatar__UL {
  width: 28px;
  height: 28px;
}

.AuthorBox_AuthorBox__verticalBox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.AuthorBox_AuthorBox__verticalBox .AuthorBox_AuthorBox__userInfo {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3px;
  -ms-flex-align: center;
  align-items: center;
}

.AuthorBox_AuthorBox__verticalBox .AuthorBox_AuthorBox__userInfo>div {
  margin-right: 4px;
}

.AuthorCareer_AuthorCareer {
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.AuthorBox_AuthorBox__verticalBox .AuthorBox_AuthorBox__createAt {
  font-size: 12px;
  color: #939393;
}

.AuthorBox_AuthorBox__createAt {
  -ms-flex: none;
  flex: none;
  color: #666;
  font-size: 13px;
  line-height: 100%;
  white-space: nowrap;
}

.PostItem_PostItem__body {
  display: block;
  width: 100%;
  padding-left: 36px;
}

.PostItem_PostItem__title {
  font-size: 19px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
  line-height: 23px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.PostItem_PostItem__content {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: break-spaces;
  word-break: break-all;
  overflow: hidden;
}

.PostItem_PostItem__content {
  font-size: 14px;
  color: #666;
  line-height: 1.43;
  margin-bottom: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.PostItemImage_PostItemImage__0Nj_n {
  position: absolute;
  top: 29px;
  right: 30px;
  width: 192px;
  height: 151px;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
}

.PostItem_PostItem .PostItem_tag_list {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.PostItem_PostItem .PostItem_tag_list .PostItem_tag__Y_apm {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  border: 1px solid #e1e2e4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  color: #8a8a8a;
  height: 26px;
  padding: 0 7px;
}

.PostItem_PostItem__bottom__CM_QT {
  display: -ms-flexbox;
  display: flex;
}

.RecommendedProfile_RecommendedProfile .RecommendedProfile_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333;
  margin-bottom: 8px;
  margin-left: 23px;
}

.RecommendedProfile_RecommendedProfile .RecommendedProfile_subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #666;
  margin-left: 23px;
}
.InterestTagSlide_InterestTagSlide {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  margin: 20px 0;
  -ms-flex: 1 1;
  flex: 1 1;
  grid-gap: 8px;
  gap: 8px;
}

.InterestCategory_InterestCategory__slide {
  width: calc(100% - 70px);
  padding: 10px 0 10px 15px;
  margin: 0;
}

.Padding_padding{
  height: 50px;
}


/* media 쿼리 */
@media (min-width:1200px){
  .MainBar_MainBar{
      margin: 0 auto;
      height: 50px;
      width: 87.72%;
  } 

  .Aside_className>ul li>* {
    padding: 0 10px;
}
.Aside_visibleMenu {
  display: none!important;
}

.CommunityPostList_aside {
  display: -ms-flexbox;
  display: flex;
}

.OpenProfileBanner_OpenProfileBanner {
  padding: 0;
}
.OpenProfileBanner_OpenProfileBanner button {
  margin: 0;
  padding: 0 18px;
  background: no-repeat right 5px top 10px/77px url(https://static.wanted.co.kr/images/community/identify_people.png),-webkit-gradient(linear,right top,left top,color-stop(.24%,#01a9fe),to(#2f5fef));
  background: no-repeat right 5px top 10px/77px url(https://static.wanted.co.kr/images/community/identify_people.png),linear-gradient(270deg,#01a9fe .24%,#2f5fef);
}
.OpenProfileBanner_OpenProfileBanner .OpenProfileBanner_message {
  font-size: 15px;
  line-height: 1.6em;
}

.OpenProfileBanner_OpenProfileBanner .OpenProfileBanner_arrow_right {
  display: none;
}

.CommunityPostList_content .CommunityPostList_categories {
  background-color: #f8f8f8;
  position: fixed;
  top: 50px;
  z-index: 1;
  padding-top: 50px;
}

.InterestCategory_InterestCategory {
  width: 790px;
  position: relative;
  top: auto;
  border: 1px solid #e1e2e3;
  border-radius: 5px 5px 0 0;
  margin: 0;
}

.InterestCategory_InterestCategory__slide {
  width: 100%;
  padding: 19px 30px;
}

.TagSlide_TagSlide__arrow {
  width: 80px;
}
.InterestTagSlide_InterestTagSlide__more {
  min-width: 40px;
  min-height: 40px;
}

.ProfileForMobile_ProfileForMobile {
  display: none;
}

.CommunityPostList_content__body {
    margin-top: 52px !important;
    width: 790px;
}

.RecommendedPostsView_RecommendedPostsView {
  border: 1px solid #e1e2e4;
  border-top: 0;
}

.RecommendedPostsTags_RecommendedPostsTags {
  height: 107px;
  padding: 30px 29px 0;
  margin-top: 0;
  position: relative;
}
.RecommendedPostsTags_RecommendedPostsTags h2 {
  margin-bottom: 11px;
  font-size: 20px;
}

.RecommendedPostsTags_RecommendedPostsTags .RecommendedPostsTags_tag_list ul {
  width: auto;
}

.RecommendedPostsTags_RecommendedPostsTags .RecommendedPostsTags_tag_list ul+span {
  margin-left: 6px;
}
.PostItem_PostItem {
  padding: 29px 29px 30px;
}

.PostItem_PostItem__top {
  margin-bottom: 9px;
}

.PostItem_PostItem__top .username {
  max-width: 399px;
}

.PostItem_PostItem__body.PostItem_has_image {
  width: 507px;
}
.PostItem_PostItem .PostItem_tag_list {
  margin-bottom: 21px;
}
}