<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 쿼리문 작성페이지 -->
<mapper namespace="member">

<!--  	<insert id="join">
		insert into tbl_member
		(member_name, member_id, member_password, member_email, member_phone_number)
		values( #{memberName},#{memberId}, #{memberPassword}, #{memberEmail} , #{memberPhoneNumber} )
	</insert> -->
	
	
	<select id="selectEmail" resultType="string">
	select member_email from tbl_member where member_email = #{memberEmail}
	</select>
	
	<select id="selectPassword" resultType="string">
		select member_password from tbl_member 
		where member_password = #{memberPassword}
	</select>
	<!--
	<select id="selectIdentification" resultType="string">
		select member_identification from tbl_member where member_identification = #{memberIdentification}
	</select> 
	-->
	
</mapper>


















