<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<!-- 	<insert id="insert">
		insert into tbl_member
		(member_identification, member_password, member_name, member_birth, member_phone, member_email)
		values(#{memberIdentification}, #{memberPassword}, #{memberName}, #{memberBirth}, #{memberPhone}, #{memberEmail})
	</insert>
	
	<select id="selectIdentification" resultType="string">
		select member_identification from tbl_member where member_identification = #{memberIdentification}
	</select> -->
	
</mapper>


















