<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 쿼리문 작성페이지 -->
<mapper namespace="position">

<!-- 	<insert id="insert">
		insert into tbl_member
		(member_identification, member_password, member_name, member_birth, member_phone, member_email)
		values(#{memberIdentification}, #{memberPassword}, #{memberName}, #{memberBirth}, #{memberPhone}, #{memberEmail})
	</insert>
	
	<select id="selectIdentification" resultType="string">
		select member_identification from tbl_member where member_identification = #{memberIdentification}
	</select> -->
	<select id="select" resultType="PositionVO">
		select id, position_name, position_due_date,position_detail,company_id
		from tbl_position
		where id = #{id}
	</select>
	<select id="selectlist" resultType="PositionDTO">
		select tp.id, tp.position_name, tp.position_due_date, tc.company_name
		from tbl_position tp join tbl_company tc 
		on tp.company_id = tc.id
		where tp.id in (
			select position_id
			from tbl_apply ta 
			where member_id=#{id}
		)
	</select>

	<select id='selectAllWithApplyCount' resultType="positionDTO">
		select p.id, p.position_name, position_due_date, apply_count from tbl_position p
		left outer join 
		(
			select position_id, count(member_id) apply_count from tbl_apply
			group by position_id
		) a
		on p.id = a.position_id
		where company_id = #{companyId}
	</select>	
</mapper>


















