@charset "UTF-8";

* {
    margin: auto;
    justify-content: center;
    text-align: center;
    letter-spacing:-0.023em;
    box-sizing: border-box;
    font-family: Pretendard,'Pretendard JP','Pretendard Std',-apple-system,system-ui,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,'Apple SD Gothic Neo','Malgun Gothic','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}

.bigbox {
    width: 100%;
    height: 100vh;
    display: flex;
    -webkit-box-pack: center;
    align-items: center;
}

.divbox {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    align-items: flex-end;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 8px;
}

.divbox::-webkit-scrollbar {
    display: none;
  }

 
.back {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
}

.upperContainer{
    width: 100%;
    display: flex;
    padding: 0px 20px;
    margin: 18px 0px;
}

.upperbox{
    flex: 1;
}

.upperText {
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0em;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.left {
    float: left;
    text-align: left;
}

.passwordbox {
    width: 100%;
    padding: 20px;
    height: 80%;
    margin: 0;
}

.passwordText {
    color: #888;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.0145em;
    font-size: 14px;
    line-height: 20px;
    font-family: Pretendard,'Pretendard JP','Pretendard Std',-apple-system,system-ui,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,'Apple SD Gothic Neo','Malgun Gothic','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}

.passwordManipulation{
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.loginNext {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 30px;
    color: #cccccc;
    font-weight: 600px;
}

.passwordInput{
    width: 100%;
    height: 50px;
    min-height: 50px;
    padding: 0px 12px;
    outline: none;
    background-color: transparent;
    border: 1px solid #e1e2e3;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    text-align: left;
}

input::placeholder {
    opacity: 0.5;
    text-align: left;
    font-size: 14px;
  }

.passwordTitle {
    margin: 17px 0px 7px 0px;
    text-align: left;
}

.passwordChangeText {
    letter-spacing: 0.0145em;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #36f;
}

.eyeButton {
    position: absolute;
    top: 13px;
    right: 12px;
    font-size: 24px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.backicon {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 20px;
}


/* <svg viewBox="0 0 24 24" width="24" height="24" fill="none" class="css-1h47l4s"><path fill-rule="evenodd" clip-rule="evenodd" d="M5.38841 7.2444L4.15028 6.00627C3.8057 5.66169 3.8057 5.10302 4.15028 4.75844C4.49486 4.41385 5.05354 4.41385 5.39812 4.75844L18.6334 17.9937C18.978 18.3383 18.978 18.897 18.6334 19.2416C18.2888 19.5861 17.7302 19.5861 17.3856 19.2416L15.9599 17.8159C15.4689 18.0586 14.9797 18.2509 14.4929 18.3966C12.0281 19.1343 9.78273 18.6299 7.93827 17.6821C6.11012 16.7426 4.63933 15.3523 3.6395 14.2271C3.13556 13.6599 2.74152 13.149 2.47192 12.7776C2.33695 12.5917 2.23267 12.44 2.16091 12.3329C2.12502 12.2793 2.09723 12.2368 2.07776 12.2066L2.07325 12.1996C1.83871 11.8654 1.82466 11.407 2.07179 11.0527C3.17489 9.47148 4.28294 8.21582 5.38841 7.2444ZM14.4443 16.3003C14.2668 16.3691 14.0918 16.429 13.9194 16.4806C12.0676 17.0348 10.36 16.6779 8.85238 15.9032C7.32843 15.1201 6.04796 13.9266 5.13457 12.8986C4.6969 12.4061 4.35234 11.9615 4.11454 11.6358C5.04079 10.3802 5.9412 9.40662 6.80595 8.66194L8.57467 10.4307C8.43386 10.8033 8.35707 11.2055 8.35707 11.6249C8.35707 13.5578 9.98811 15.1247 12.0001 15.1247C12.3852 15.1247 12.7564 15.0673 13.1049 14.9609L14.4443 16.3003ZM11.3936 8.17337L15.5658 12.3456C15.6165 12.113 15.6431 11.8719 15.6431 11.6249C15.6431 9.69201 14.0121 8.1251 12.0001 8.1251C11.7935 8.1251 11.5909 8.14163 11.3936 8.17337ZM19.8854 11.614C19.0746 12.7132 18.2836 13.5962 17.519 14.2987L18.9342 15.7139C19.9325 14.7867 20.9323 13.6246 21.9281 12.1971C22.1753 11.8429 22.1612 11.3844 21.9267 11.0503L21.9222 11.0432C21.9027 11.0131 21.8749 10.9706 21.839 10.917C21.7673 10.8098 21.663 10.6582 21.528 10.4722C21.2584 10.1008 20.8644 9.58992 20.3604 9.02277C19.3606 7.89754 17.8898 6.50721 16.0617 5.56777C14.2172 4.61995 11.9719 4.11555 9.50705 4.85324C9.15887 4.95745 8.80945 5.08551 8.45905 5.23878L10.0108 6.79053C10.0341 6.78329 10.0573 6.77621 10.0805 6.76927C11.9323 6.21504 13.6399 6.57192 15.1476 7.34665C16.6715 8.12976 17.952 9.32326 18.8654 10.3512C19.303 10.8438 19.6476 11.2883 19.8854 11.614Z" fill="#8A8A8A"></path></svg> */