<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>replace</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.gif</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.ico</url-pattern>
		<url-pattern>*.swf</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>jsp</servlet-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>*.jspx</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Member</servlet-name>
		<servlet-class>com.replace.member.MemberFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Member</servlet-name> 
		<url-pattern>*.member</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Apply</servlet-name>
		<servlet-class>com.replace.apply.ApplyFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Apply</servlet-name> 
		<url-pattern>*.apply</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Position</servlet-name>
		<servlet-class>com.replace.position.PositionFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Position</servlet-name> 
		<url-pattern>*.position</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Bookmark</servlet-name>
		<servlet-class>com.replace.bookmark.BookmarkFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Bookmark</servlet-name> 
		<url-pattern>*.bookmark</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Board</servlet-name>
		<servlet-class>com.replace.bord.BoardFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Board</servlet-name> 
		<url-pattern>*.board</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Main</servlet-name>
		<servlet-class>com.replace.main.MainFrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Main</servlet-name> 
		<url-pattern>*.main</url-pattern>
	</servlet-mapping>
	
</web-app>