@charset "UTF-8";
.companyList img {
    vertical-align: middle;
}
.companyList div {
    display: block;
}
.MatchUp_className>section {
    padding-left: 27%;
}
.Form_className+.Form_className {
    margin-top: 10px;
}
.MainResume_className {
    position: relative;
    padding-bottom: 38px;
    margin-top: 12px;
}
.Form_className {
    padding: 41px 0 30px;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    background-color: #fff;
}
.Form_className .Form-header {
    padding-right: 30px;
    padding-left: 30px;
}
.Form_className .Form-header dt {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}
.companyList dt {
    display: block;
}
.MainResume_className .FormBlock {
    margin-top: 36px;
}
.Form_className .FormBlock {
    margin-top: 43px;
}
.Block_className .FormBlock-content {
    padding-right: 30px;
    padding-left: 30px;
}
.Static_className {
    position: relative;
    font-size: 16px;
}
.Static_className .Static-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    line-height: 24px;
    color: #999;
}
.Static_className .Static-body {
    margin-top: 23px;
}
.DefaultResumeSelector_className .DefaultResumeSelector-button {
    position: relative;
    width: 100%;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #e1e2e3;
    margin-top: -2px;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.DefaultResumeSelector_className .DefaultResumeSelector-resumeLang {
    margin-right: 10px;
}
.ResumeLang_container {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #999;
    font-size: 11px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    color: #999;
    text-align: center;
}
.MatchUp_className {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}
 .MatchUp_className>aside {
    top: 0;
    left: 0;
    width: 250px;
    position: absolute;
}
.Aside_className_companyList {
    padding: 42px 20px 41px;
    border: 1px solid #e1e2e3;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 0;
}
.Aside_className_companyList .Aside-header {
    width: 100%;
    text-align: center;
}
.Aside_className_companyList .Aside-avatar {
    line-height: 1.4;
}
@media (min-width: 768px){
    .Aside_className_companyList .Aside-avatar_image {
        margin: 0 auto;
    }
}
.Aside_className_companyList .Aside-avatar_image {
    width: 77px;
    height: 77px;
}
.Avatar_Avatar__sizeMedium {
    width: 40px;
    height: 40px;
    font-size: 26px;
}
.Avatar_Avatar__root {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #dbdcdf;
    font-size: 1.538em;
    line-height: 1;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Avatar_Avatar__img {
    width: 100%;
    height: 100%;
    text-align: center;
    -o-object-fit: cover;
    object-fit: cover;
    color: transparent;
}
.Aside_className_companyList .Aside-me {
    margin-top: 31px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.07;
    color: #999;
}
.Aside_className_companyList .Aside-me_email, .Aside_className_companyList .Aside-me_name {
    line-height: 1.3;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Aside_className_companyList .Aside-me_name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.Aside_className_companyList .Aside-me_email {
    margin-top: 20px;
}
.Aside_className_companyList .Aside-me_tel {
    margin-top: 10px;
}
.Aside_className__1dlg0 .Aside-edit {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #e1e2e3;
    margin: 30px auto 0;
    font-size: 16px;
    line-height: .94;
    color: #333;
}
.Aside_className_companyList .MatchUpStatus {
    margin-top: 42px;
}
.MatchUpStatus_className .MatchUpStatus-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 23px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.06;
}
.DefaultResumeSelector_className .choice-button{
    position: relative;
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #e1e2e3;
    margin-top: -2px;
    text-align: left;
    display: inline;
}
.DefaultResumeSelector_className .apply-button:hover{
    border: 1px solid #b6c8fd;
    background-color: #b6c8fd;
}
.DefaultResumeSelector_className .yes-button:hover{
    border: 1px solid #9bc697;
    background-color: #9bc697;
}




