@charset "UTF-8";

.Menu_className {
    height: inherit;
    text-align: center;
    margin: 0;
}

@media(max-width: 767px) {
    .Menu_className {
        text-align:left;
        padding-left: 10px;
    }
}

@media(min-width: 992px)and (max-width:1100px) {
    .Menu_className {
        display:-ms-flexbox;
        display: flex;
        -ms-flex: 1 1;
        flex: 1 1;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Menu_className {
        -ms-flex-pack:start;
        justify-content: flex-start;
        margin-right: 30px;
    }
}

.Menu_className li {
    height: inherit;
    display: inline-block;
    position: relative;
}

.Menu_className li:hover:not(.selectedNav):before {
    display: block;
    border-color: #ddd;
}

@media(max-width: 767px) {
    .Menu_className li:hover:not(.selectedNav):before {
        display:none;
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Menu_className li:hover:not(.selectedNav):before {
        display:none;
    }
}

@media(min-width: 992px)and (max-width:1199px) {
    .Menu_className li:hover:not(.selectedNav):before {
        display:none;
    }
}

.Menu_className li:before {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #258bf7;
    pointer-events: none;
    content: "";
}

.Menu_className li:after {
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.Menu_className li a {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

.Menu_className li a:focus-visible {
    outline-color: Highlight!important;
    outline-color: -webkit-focus-ring-color!important;
    outline-style: auto!important;
    outline-width: 1px!important;
    outline-offset: -12px;
}

@media(min-width: 992px)and (max-width:1100px) {
    .Menu_className li a {
        padding:15px 0;
        outline-offset: 0!important;
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Menu_className li a {
        font-size:13px;
    }
}

@media(min-width: 992px)and (max-width:1100px) {
    .Menu_className li a {
        font-size:13px;
    }
}

@media(max-width: 767px) {
    .Menu_className li a {
        padding:11px 10px 19px;
        outline-offset: 0!important
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Menu_className li a {
        padding:11px 10px 19px;
        outline-offset: 0!important
    }
}

.Menu_className li.xsHomeButton a {
    padding-left: 20px
}

.Menu_className li a>span {
    position: absolute;
    top: 10px;
    right: -7px;
    pointer-events: none
}

@media(min-width: 992px)and (max-width:1100px) {
    .Menu_className li a>span {
        right:-20px;
        top: 9px
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Menu_className li a>span {
        right:-8px;
        top: 4px
    }
}

.Menu_className li a>em {
    position: absolute;
    top: 10px;
    right: -5px;
    pointer-events: none;
    font-style: normal
}

@media(min-width: 992px)and (max-width:1100px) {
    .Menu_className li a>em {
        right:-20px
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Menu_className li a>em {
        top:5px;
        right: -7px
    }
}

.Menu_className .selectedNav:before {
    display: block
}

@media(max-width: 767px) {
    .Menu_className .smMoreVisible {
        display:none
    }
}



@media(max-width: 320px) {
    .Menu_className li a {
        font-size:13px;
        padding: 15px 8px
    }
}


.Aside_className {
    height: 100%;
    padding: 10px 0
}

.Aside_className.isLoggedIn {
    padding: 9px 0
}

@media(max-width: 767px) {
    .Aside_className {
        padding:14px 0
    }
}

.Aside_className>ul {
    height: 100%;
    margin: 0
}

@media(max-width: 767px) {
    .Aside_className>ul {
        margin-top:-5px
    }
}

.Aside_className>ul li {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.Aside_className>ul li>* {
    height: 100%;
    padding: 0 5px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    line-height: 1
}

@media(min-width: 1200px) {
    .Aside_className>ul li>* {
        padding:0 10px
    }
}

.Aside_className>ul li a {
    display: inline-block;
    vertical-align: bottom;
    line-height: 32px
}

.Aside_className>ul li .dashboardButton {
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400
}

@media(max-width: 767px) {
    .Aside_className>ul li .dashboardButton {
        margin:0
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Aside_className>ul li .dashboardButton {
        margin:0
    }
}

@media(min-width: 992px)and (max-width:1199px) {
    .Aside_className>ul li .dashboardButton {
        margin:0
    }
}

.Aside_className>ul li .dashboardButton:focus-visible {
    outline-color: Highlight!important;
    outline-color: -webkit-focus-ring-color!important;
    outline-style: auto!important;
    outline-width: 1px!important
}

.Aside_className>ul li .searchButton {
    position: relative;
    margin-top: 5px
}

@media(max-width: 767px) {
    .Aside_className>ul li .searchButton {
        margin:0
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Aside_className>ul li .searchButton {
        margin:0
    }
}

.Aside_className>ul li .signUpButton {
    margin-right: 6px;
    line-height: 1.4
}

@media(min-width: 992px)and (max-width:1199px) {
    .Aside_className>ul li .signUpButton {
        margin-right:0;
        padding: 0 3px
    }
}

@media(max-width: 767px) {
    .Aside_className>ul li .signUpButton {
        display:none
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Aside_className>ul li .signUpButton {
        display:none
    }
}

.Aside_className>ul li .xsSignUpButton {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 0 20px;
    margin: -1px 10px -1px 0;
    color: #fff;
    background-color: #258bf7;
    border-radius: 3px;
    height: 34px
}

@media(min-width: 992px)and (max-width:1199px) {
    .Aside_className>ul li .xsSignUpButton {
        display:none
    }
}

@media(min-width: 1200px) {
    .Aside_className>ul li .xsSignUpButton {
        display:none
    }
}

.Aside_className>ul li .notiButton {
    position: relative;
    margin-right: 10px;
    margin-top: 5px
}

@media(max-width: 767px) {
    .Aside_className>ul li .notiButton {
        margin-right:5px
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Aside_className>ul li .notiButton {
        margin-right:5px
    }
}

@media(min-width: 992px)and (max-width:1199px) {
    .Aside_className>ul li .notiButton {
        margin-right:5px
    }
}

@media(max-width: 767px) {
    .Aside_className>ul li .notiButton {
        margin:0 5px 0 0
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Aside_className>ul li .notiButton {
        margin:0 5px 0 0
    }
}

.Aside_className>ul li .notiButton.activeBg {
    position: relative;
    color: #fff
}

.Aside_className>ul li .notiButton.activeBg:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: calc(50% - 1px);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #36f;
    z-index: -1
}

@media(max-width: 767px) {
    .Aside_className>ul li .notiButton.activeBg:after {
        top:calc(50% - 1px)
    }
}



.Aside_className>ul li .menuButton {
    margin-right: 10px;
    padding-left: 5px
}

@media(min-width: 768px)and (max-width:991px) {
    .Aside_className>ul li .menuButton {
        margin-right:0
    }
}



.Aside_className>ul .leftDivision {
    display: -ms-inline-flexbox;
    display: inline-flex
}

.Aside_className>ul .leftDivision:before {
    display: block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e2e3;
    margin: auto 10px
}

@media(max-width: 767px) {
    .Aside_className>ul .mdMoreVisible,.Aside_className>ul .smMoreVisible {
        display:none
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Aside_className>ul .mdMoreVisible {
        display:none
    }
}

@media(max-width: 767px) {
    .Aside_className>ul .lgMoreVisible {
        display:none
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Aside_className>ul .lgMoreVisible {
        display:none
    }
}

@media(min-width: 992px)and (max-width:1199px) {
    .Aside_className>ul .lgMoreVisible {
        display:none
    }

    .Aside_visibleMenu {
        display: none!important
    }
}

@media(min-width: 1200px) {
    .Aside_visibleMenu {
        display:none!important
    }
}

.MainBar_MainBar {
    position: relative;
    max-width: 1060px;
    height: 50px
}

@media(min-width: 768px)and (max-width:991px) {
    .MainBar_MainBar {
        width:90%
    }

    .MainBar_MainBar:lang(ja) {
        width: 95%
    }
}

@media(min-width: 992px)and (max-width:1199px) {
    .MainBar_MainBar {
        width:90%
    }

    .MainBar_MainBar:lang(ja) {
        width: 95%
    }
}

@media(min-width: 1200px) {
    .MainBar_MainBar {
        width:87.72%
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .MainBar_MainBar {
        margin:0 auto;
        height: 50px
    }
}

@media(min-width: 992px)and (max-width:1199px) {
    .MainBar_MainBar {
        margin:0 auto;
        height: 50px
    }
}

@media(min-width: 1200px) {
    .MainBar_MainBar {
        margin:0 auto;
        height: 50px
    }
}

@media(max-width: 767px) {
    .MainBar_MainBar,.MainBar_MainBar.isLoggedIn {
        height:110px
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .MainBar_MainBar,.MainBar_MainBar.isLoggedIn {
        height:110px
    }
}

.MainBar_MainBar_logo {
    display: block
}

.MainBar_MainBar_logo:focus-visible {
    outline-color: Highlight!important;
    outline-color: -webkit-focus-ring-color!important;
    outline-style: auto!important;
    outline-width: 1px!important
}

.MainBar_MainBar_logo>i {
    font-size: 17px
}

@media(min-width: 768px)and (max-width:991px) {
    .MainBar_MainBar_logo {
        position:relative;
        float: left
    }
}

.MainBar_MainBar_nav {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.MainBar_MainBar_nav,.MainBar_MainBar_nav_top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.MainBar_MainBar_nav_top_logo {
    display: -ms-flexbox;
    display: flex
}

.MainBar_MainBar_nav_top>button[id=gnbSignupBtn] {
    display: none;
    color: #36f;
    font-size: 14px;
    line-height: 32px;
    height: 34px;
    border: 1px solid #36f;
    border-radius: 17px;
    padding: 0 14px
}

.MainBar_MainBar_nav_top .MainBar_hamberger {
    margin-top: -2px;
    margin-right: 15px
}

.MainBar_MainBar_nav_top .MainBar_hamberger img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: bicubic
}

@media(max-width: 767px) {
    .MainBar_MainBar_nav_top {
        height:60px;
        width: 100%;
        padding: 15px 20px
    }

    .MainBar_MainBar_nav_top button[id=gnbSignupBtn] {
        display: inline-block
    }

    .MainBar_MainBar_nav_top button[id=gnbSignupBtn].isLoggedIn {
        display: none
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .MainBar_MainBar_nav_top {
        height:60px;
        width: 100%;
        padding: 15px 20px
    }

    .MainBar_MainBar_nav_top button[id=gnbSignupBtn] {
        display: inline-block
    }

    .MainBar_MainBar_nav_top button[id=gnbSignupBtn].isLoggedIn {
        display: none
    }

    .MainBar_MainBar_nav_top {
        padding: 15px 0
    }
}

.Padding_padding {
    height: 50px
}

@media(max-width: 767px) {
    .Padding_padding,.Padding_padding_isLoggedOut {
        height:110px
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Padding_padding,.Padding_padding_isLoggedOut {
        height:110px
    }
}


.NavBar_className {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    z-index: 800
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.42857143;
    font-family: Pretendard Variable,Pretendard JP Variable,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer
}

a,a:active,a:hover,a:visited {
    color: inherit
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit
}

img {
    vertical-align: middle
}

input,input:focus {
    outline: none!important
}

input,input:focus,input[type=text],textarea {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

input[type=text],textarea {
    /* -moz-appearance: none;
    -webkit-appearance: none; */
    resize: none;
    outline: none
}

button,div,h1,h2,h3,h4,h5,h6,input,p,select,span,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a:focus {
    outline: none!important
}

:root {
    --nav-height: 50px
}

@media(min-width: 768px)and (max-width:991px) {
    :root {
        --nav-height:110px
    }
}

@media(max-width: 767px) {
    :root {
        --nav-height:110px
    }
}

main {
    display: block;
}


.Explore_Container {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    z-index: 1400!important
}

@media(min-width: 992px)and (max-width:1199px) {
    .Explore_Container {
        width:93.6%
    }

    .Explore_Container:lang(ja) {
        width: 98%
    }
}

.Explore_Container .Explore_MainCategory {
    border-left: 1px solid #f7f9fa;
    border-right: 1px solid #f7f9fa;
    height: calc(100vh - 50px);
    width: 220px;
    background-color: #fff;
    overflow-y: auto
}

@media(max-width: 767px) {
    .Explore_Container .Explore_MainCategory {
        padding-bottom:calc(env(safe-area-inset-bottom) + 30px);
        -ms-flex: 1 1;
        flex: 1 1;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .Explore_Container .Explore_MainCategory::-webkit-scrollbar {
        display: none
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Explore_Container .Explore_MainCategory {
        padding-bottom:calc(env(safe-area-inset-bottom) + 30px);
        -ms-flex: 1 1;
        flex: 1 1;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .Explore_Container .Explore_MainCategory::-webkit-scrollbar {
        display: none
    }
}

.Explore_Container .Explore_MainCategory h2 {
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 2.86;
    letter-spacing: normal;
    color: #333
}

.Explore_Container .Explore_MainCategory a,.Explore_Container .Explore_MainCategory button {
    height: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0 20px;
    width: 100%
}

.Explore_Container .Explore_MainCategory a:hover,.Explore_Container .Explore_MainCategory button:hover {
    color: #36f;
    background-color: #f7f9fa
}

.Explore_Container .Explore_MainCategory a:hover em,.Explore_Container .Explore_MainCategory a:hover h2,.Explore_Container .Explore_MainCategory button:hover em,.Explore_Container .Explore_MainCategory button:hover h2 {
    color: #36f
}

.Explore_Container .Explore_MainCategory a em,.Explore_Container .Explore_MainCategory button em {
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    color: #333;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.Explore_Container .Explore_SubCategory {
    position: absolute;
    left: 202px
}

@media(max-width: 767px) {
    .Explore_Container .Explore_SubCategory {
        width:50%;
        left: 50%
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Explore_Container .Explore_SubCategory {
        width:50%;
        left: 50%
    }
}

.Explore_Container .Explore_SubCategory ul {
    display: -ms-flexbox;
    display: block;
    overflow-y: scroll ;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 50px);
    background-color: #f7f9fa
}

@media(max-width: 767px) {
    .Explore_Container .Explore_SubCategory ul {
        display:block;
        padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .Explore_Container .Explore_SubCategory ul::-webkit-scrollbar {
        display: none
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Explore_Container .Explore_SubCategory ul {
        display:block;
        padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none
    }

    .Explore_Container .Explore_SubCategory ul::-webkit-scrollbar {
        display: none
    }
}

.Explore_Container .Explore_SubCategory .Explore_CategoryItem {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
    padding: 0 20px;
    background-color: #f7f9fa;
}

@media(max-width: 767px) {
    .Explore_Container .Explore_SubCategory .Explore_CategoryItem {
        width:inherit
    }
}

@media(min-width: 768px)and (max-width:991px) {
    .Explore_Container .Explore_SubCategory .Explore_CategoryItem {
        width:inherit
    }
}

.Explore_Container .Explore_SubCategory .Explore_CategoryItem_Icon {
    display: none;
    margin-bottom: -3px
}

.Explore_Container .Explore_SubCategory .Explore_CategoryItem:hover .Explore_CategoryItem_Icon {
    display: block
}

.Explore_Container .Explore_SubCategory a {
    padding-top: 14px;
    display: inline-block;
    height: 40px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: #333;
    -ms-flex: 1 1;
    flex: 1 1;
    vertical-align: middle;
    max-width: 140px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.Explore_Container .Explore_SubCategory a:hover {
    color: #36f;
}

.Explore_Container .Explore_EmptyItem {
    height: 45px;
}

.OverlayJobCategory_Container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    overflow: hidden;
    width: 100%;
    display: none;
}

@media(max-width: 767px) {
    .OverlayJobCategory_Container {
        top:60px;
        height: 100vh;
    }
}