@charset "UTF-8";

:root {
    --text-weight-caption2-bold: 600;
    --text-weight-caption2-medium: 500;
    --text-weight-caption2-normal: 400;
    --text-weight-caption1-bold: 600;
    --text-weight-caption1-medium: 500;
    --text-weight-caption1-normal: 400;
    --text-weight-footnote-bold: 600;
    --text-weight-footnote-medium: 500;
    --text-weight-footnote-normal: 400;
    --text-weight-subhead-bold: 600;
    --text-weight-subhead-medium: 500;
    --text-weight-subhead-normal: 400;
    --text-weight-bodyalt-bold: 600;
    --text-weight-bodyalt-medium: 500;
    --text-weight-bodyalt-normal: 400;
    --text-weight-body-bold: 600;
    --text-weight-body-medium: 500;
    --text-weight-body-normal: 400;
    --text-weight-headline-bold: 600;
    --text-weight-headline-medium: 500;
    --text-weight-headline-normal: 400;
    --text-weight-heading-bold: 600;
    --text-weight-heading-medium: 500;
    --text-weight-heading-normal: 400;
    --text-weight-subtitle-bold: 700;
    --text-weight-subtitle-medium: 500;
    --text-weight-subtitle-normal: 400;
    --text-weight-title-bold: 700;
    --text-weight-title-medium: 500;
    --text-weight-title-normal: 400;
    --text-weight-display-bold: 700;
    --text-weight-display-medium: 500;
    --text-weight-display-normal: 400;
    --text-spacing-caption2: 0.031em;
    --text-spacing-caption1: 0.025em;
    --text-spacing-footnote: 0.0192em;
    --text-spacing-subhead: 0.0145em;
    --text-spacing-bodyalt: 0.0096em;
    --text-spacing-body: 0.0056em;
    --text-spacing-headline: 0em;
    --text-spacing-heading: -0.012em;
    --text-spacing-subtitle: -0.023em;
    --text-spacing-title: -0.024em;
    --text-spacing-display: -0.027em;
    --text-height-caption2: 14px;
    --text-height-caption1: 16px;
    --text-height-footnote: 18px;
    --text-height-subhead: 20px;
    --text-height-bodyalt-reading: 24px;
    --text-height-bodyalt: 22px;
    --text-height-body-reading: 26px;
    --text-height-body: 24px;
    --text-height-headline: 24px;
    --text-height-heading: 26px;
    --text-height-subtitle: 32px;
    --text-height-title: 38px;
    --text-height-display: 48px;
    --text-size-caption2: 11px;
    --text-size-caption1: 12px;
    --text-size-footnote: 13px;
    --text-size-subhead: 14px;
    --text-size-bodyalt: 15px;
    --text-size-body: 16px;
    --text-size-headline: 17px;
    --text-size-heading: 20px;
    --text-size-subtitle: 24px;
    --text-size-title: 28px;
    --text-size-display: 36px;
}

:root, html[data-theme=light] {
    --theme-palette-colors-pink-400: #f348a3;
    --theme-palette-colors-gray-900: #333;
    --theme-palette-colors-black-100: #000;
    --theme-palette-colors-bluegray-200: #e1e2e3;
    --theme-palette-colors-gray-700: #767676;
    --theme-palette-colors-blue-800: #002fdb;
    --theme-palette-colors-gray-600: #888;
    --theme-palette-colors-gray-800: #666;
    --theme-palette-colors-purple-400: #8958fa;
    --theme-palette-colors-gray-300: #ccc;
    --theme-palette-colors-green-400: #08ba9c;
    --theme-palette-colors-blue-400: #36f;
    --theme-palette-colors-gray-200: #ececec;
    --theme-palette-colors-red-400: #fe415c;
    --theme-palette-colors-gray-500: #939393;
    --theme-palette-colors-gray-400: #aaa;
    --theme-palette-colors-pastel-lime-50: #f6f8ee;
    --theme-palette-colors-pastel-purple-50: #f7f2f9;
    --theme-palette-colors-pastel-blue-50: #eff1fb;
    --theme-palette-colors-pastel-lightblue-50: #f3f9fe;
    --theme-palette-colors-pastel-cyan-50: #eefaf9;
    --theme-palette-colors-pastel-green-100: #e4f4ec;
    --theme-palette-colors-bluegray-100: #f2f4f7;
    --theme-palette-colors-pastel-green-50: #f2fbf5;
    --theme-palette-colors-base-bg: #f7f7f7;
    --theme-palette-colors-white-100: #fff;
    --theme-palette-colors-pastel-indigo-50: #f3f2fb;
    --theme-palette-colors-gray-100: #f8f8f8;
    --theme-palette-colors-elevated-bg: #fff;
    --theme-palette-colors-contents-bg: #fff;
    --theme-palette-colors-common-white: #fff;
    --theme-palette-colors-orange-400: #ff9100;
    --theme-palette-colors-blue-invert: #4d7dff;
    --theme-palette-colors-dimmer: rgba(0,0,0,.5);
    --theme-palette-colors-blue-600: #2658f6;
}

html:lang(en_US) * {
    font-family: 'Pretendard Std',Pretendard,'Pretendard JP',-apple-system,system-ui,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}

* {
    font-family: Pretendard,'Pretendard JP','Pretendard Std',-apple-system,system-ui,BlinkMacSystemFont,Roboto,'Segoe UI',Helvetica,Arial,'Apple SD Gothic Neo','Malgun Gothic','Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
}

* {
    box-sizing: border-box;
}

html, body, #__next {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    word-break: keep-all;
    overflow-wrap: anywhere;
}

li {
    display: list-item;
    list-style-type: none;
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: disc;
}

.wholePage {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--theme-palette-colors-contents-bg);
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}


.headerCenter {
    max-width: 1060px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
}

a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.logoSpan {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}

.logoSvg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
    height: 17px;
    width: 140px;
}

.empty {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.iconDiv {
    position: relative;
}

.iconButton {
    width: 100%;
    height: 50px;
    min-height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--theme-palette-colors-contents-bg);
    border: none;
    width: auto;
    margin: 0;
}

.iconButton span {
    color: var(--theme-palette-colors-gray-500);
}
/* .iconButton span {
    color: var(--theme-palette-colors-blue-400);
} */

.logoutSpan {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}

.dotsIcon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}

.iconButton svg {
    width: 1.5em;
    height: 1.5em;
}

.iconSvg {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
}

.line {
    border: none;
    height: 100%;
    border-left: 1px solid var(--theme-palette-colors-bluegray-200);
    height: 10px;
    margin: auto 15px;
}

.mainDiv {
    max-width: 628px;
    width: 628px;
    margin: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.welcomeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.profilePic {
    border-radius: 50%;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    background-color: var(--theme-palette-colors-contents-bg);
    position: relative;
    width: 80px;
    height: 80px;
}

.profilePic > img {
    position: absolute;
    left: -1px;
    top: -1px;
    overflow: hidden;
    border-radius: 50%;
}

.edit {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    right: -7px;
    bottom: -7px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: var(--theme-palette-colors-blue-400);
}

.pen {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}

.penSvg {
    width: 15px;
    height: 15px;
}

.welcomeUser {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-subtitle-normal);
    text-align: center;
    letter-spacing: var(--text-spacing-subtitle);
    font-size: var(--text-size-subtitle);
    line-height: var(--text-height-subtitle);
    margin-top: 15px;
    margin-bottom: 0px;
}

.accountMngtDiv {
    width: 100%;
    border: 1px solid var(--theme-palette-colors-bluegray-200);
    border-radius: 8px;
    padding: 0px 20px;
    margin-bottom: 30px;
}

.accountMngtTitle {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-heading-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-heading);
    font-size: var(--text-size-heading);
    line-height: var(--text-height-heading);
}

.accountMngtContent {
    color: var(--theme-palette-colors-gray-700);
    font-weight: var(--text-weight-body-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}

.accountMngtDetails {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.changeList {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: inherit;
}

.email {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-medium);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    min-width: 120px;
    margin-right: 15px;
}

.emailAddress {
    color: var(--theme-palette-colors-gray-900);
    font-weight: var(--text-weight-body-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    flex: 1 1 0%;
    margin-right: 10px;
    word-break: break-all;
}

.nameChange:not(:first-child) {
    border-top: 1px solid var(--theme-palette-colors-bluegray-200);
}

.name {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-medium);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    min-width: 120px;
    margin-right: 15px;
}

.myName {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-body-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    flex: 1 1 0%;
    margin-right: 10px;
    word-break: break-all;
}

.arrowSpan {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: inherit;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    -webkit-justify-content: inherit;
    justify-content: inherit;
}

.arrowSvg {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    font-size: 12px;
}

.phoneChange:not(:first-child) {
    border-top: 1px solid var(--theme-palette-colors-bluegray-200);
}

.phone {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-medium);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    min-width: 120px;
    margin-right: 15px;
}

.phoneNumber {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-body-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    flex: 1 1 0%;
    margin-right: 10px;
    word-break: break-all;
}

.socialLink:not(:first-child) {
    border-top: 1px solid var(--theme-palette-colors-bluegray-200);
}

.socialLogin {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-medium);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    min-width: 120px;
    margin-right: 15px;
}

.notConnected {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-body-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    flex: 1 1 0%;
    margin-right: 10px;
    word-break: break-all;
}

.personalInfoProtection {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-heading-bold);
    text-align: left;
    letter-spacing: var(--text-spacing-heading);
    font-size: var(--text-size-heading);
    line-height: var(--text-height-heading);
}

.personalInfoProtectionContent {
    color: var(--theme-palette-colors-gray-700);
    font-weight: var(--text-weight-body-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
}

.personalInfoProtectionDetails {
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.passwordChange {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.myPasswordChange {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-medium);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    min-width: 120px;
    margin-right: 15px;
}

.blank {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-body-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    flex: 1 1 0%;
    margin-right: 10px;
    word-break: break-all;
}

.memberWithdrawal:not(:first-child){
    border-top: 1px solid var(--theme-palette-colors-bluegray-200);
}

.memberWithdrawal {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.memberExit {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-body-medium);
    text-align: left;
    letter-spacing: var(--text-spacing-body);
    font-size: var(--text-size-body);
    line-height: var(--text-height-body);
    min-width: 120px;
    margin-right: 15px;
}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.termsAndConditions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.terms {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-caption1-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-caption1);
    font-size: var(--text-size-caption1);
    line-height: var(--text-height-caption1);
    margin-right: 12px;
}

.termsAndConditions a:last-child {
    font-weight: 900;
}

.privacyNotice {
    color: var(--theme-palette-colors-black-100);
    font-weight: var(--text-weight-caption1-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-caption1);
    font-size: var(--text-size-caption1);
    line-height: var(--text-height-caption1);
}

.ReplaceLab {
    color: var(--theme-palette-colors-gray-600);
    font-weight: var(--text-weight-footnote-normal);
    text-align: left;
    letter-spacing: var(--text-spacing-footnote);
    font-size: var(--text-size-footnote);
    line-height: var(--text-height-footnote);
    margin-bottom: 30px;
}

