@charset "UTF-8";

:root {
    --nav-height: 50px;
}

html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
}

body {
    margin: 0 important;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.42857143;
    font-family: Pretendard Variable,Pretendard JP Variable,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
}


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

button, div, h1, h2, h3, h4, h5, h6, input, p, select, span, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    font-family: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

a, a:active, a:hover, a:visited {
    color: inherit;
}

ol, ul {
    list-style: none;
}

.NavBar_className {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    z-index: 800;
}

.MainBar_MainBar {
    margin: 0 auto;
    position: relative;
    max-width: 1060px;
    height: 50px;
  }

.MainBar_MainBar_nav, .MainBar_MainBar_nav_top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.MainBar_MainBar_nav {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.MainBar_MainBar_nav_top_logo {
    display: -ms-flexbox;
    display: flex;
}

.MainBar_MainBar_nav_top .MainBar_hamberger {
    margin-top: -2px;
    margin-right: 15px;
}

.MainBar_MainBar_nav_top .MainBar_hamberger img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: bicubic;
}

img {
    vertical-align: middle;
}

.MainBar_MainBar_logo {
    display: block;
}

.MainBar_MainBar_nav_top>button[id=gnbSignupBtn] {
    display: none;
    color: #36f;
    font-size: 14px;
    line-height: 32px;
    height: 34px;
    border: 1px solid #36f;
    border-radius: 17px;
    padding: 0 14px;
}

.Menu_className {
    height: inherit;
    text-align: center;
    margin: 0;
}

.Menu_className li {
    height: inherit;
    display: inline-block;
    position: relative;
}

.Menu_className li a {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 15px;
    display: inline-block;
}

.Menu_className li:after {
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.Menu_className li {
    height: inherit;
    display: inline-block;
    position: relative;
}

.Aside_className.isLoggedIn {
    padding: 9px 0;
}

.Aside_className {
    height: 100%;
    padding: 10px 0;
}

.Aside_className>ul {
    height: 100%;
    margin: 0;
}

.Aside_className>ul li .searchButton {
    position: relative;
    margin-top: 5px;
}

.Aside_className>ul li>* {
    height: 100%;
    padding: 0 5px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    line-height: 1;
}

.Aside_className>ul li {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Aside_hasNewMywantedAlarm, .Aside_hasNewNotificationAlarm {
    position: relative;
}

.Aside_className>ul li .notiButton {
    position: relative;
    margin-right: 10px;
    margin-top: 5px;
}

.Aside_hasNewNotificationAlarm>span {
    top: -4px;
    left: 24px;
}

.Aside_hasNewMywantedAlarm>span, .Aside_hasNewNotificationAlarm>span {
    position: absolute;
    top: -2px;
    left: 22px;
    padding: 0!important;
}

.Badge_Badge {
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 16px;
    height: 16px;
    background: #36f;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 5px;
}

.Aside_className>ul .profileBox {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 5px;
}

.Aside_className>ul li .profileButton {
    height: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    vertical-align: top;
    padding: 0;
    margin-right: 11px;
}

.Aside_className>ul li .profileButton .avatarBorder {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.Aside_className>ul li .profileButton .avatarBorder>div {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.Aside_className>ul .leftDivision {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.Aside_className>ul .leftDivision:before {
    display: block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e2e3;
    margin: auto 10px;
}

.Aside_className>ul li .dashboardButton {
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin-left: 15px;
    font-weight: 400;
}

.Aside_className>ul li a {
    display: inline-block;
    vertical-align: bottom;
    line-height: 32px;
}

.Aside_className>ul li .menuButton {
    margin-right: 10px;
    padding-left: 5px;
}

.Padding_padding {
    height: 50px;
}

.Container_Profile {
    margin: 0 auto;
    position: relative;
    max-width: 1060px;
}

.Nav_Nav {
    position: relative;
    line-height: normal;
}

.Nav_Nav_title>p {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    padding: 50px 0 20px;
}

.Nav_Nav_icon_info {
    margin-left: 11px;
}

.Nav_Nav_icon_info>svg {
    margin-bottom: -1px;
}

.Nav_Nav_button {
    width: 100%;
    display: none;
    position: relative;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}

.Nav_Nav_subTitle {
    margin-left: 7px;
    padding-left: 25px;
    position: relative;
    font-weight: 400;
    color: #333;
}

.Nav_Nav_list {
    display: none;
    position: absolute;
    background: #f8f8f8;
    z-index: 1;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.Nav_Nav_list>li {
    width: 100%!important;
    padding: 15px 28px;
    font-size: 16px;
    font-weight: 600;
}

.Nav_Nav_list_active {
    color: #36f!important;
}

.Status_className {
    position: relative;
    margin: 20px auto 0;
    max-width: 1060px;
}

.Aside_className {
    float: left;
    width: 25.4716981132%;
    margin-bottom: 0;
    padding-right: 20px;
}

.Aside_className dl:last-child {
    border-bottom: 0;
}

.Aside_className dl {
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e2e3;
}

.Aside_className dl dt {
    padding-bottom: 17px;
    border-bottom: 1px solid #e1e2e3;
    margin-bottom: 20px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
}

.Aside_className dl dd ul li {
    margin: 0;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.Aside_className dl dd ul li a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.Aside_className dl dd ul li a .label_ {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 26px;
    height: 24px;
    padding: 4px 10px;
    border-radius: 3px;
    background-color: #ececec;
    color: #171717;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.Aside_className dl dd ul li+li {
    margin-top: 15px;
}

.Status_className>section {
    float: left;
    width: 74.5283018868%;
    padding-top: 13px;
}

.List_List_table {
    margin-bottom: 80px;
}

.List_List_table_tr {
    background-color: #f8f8fa;
    border-bottom: 1px solid rgba(209,209,209,.4);
}

.List_List_table_tr:active, .List_List_table_tr:hover {
    background-color: #fafafa;
}

.List_List_table_tr {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    background: #fff;
    border-bottom: 1px solid rgba(209,209,209,.4);
}

.List_List_table_td_company_name.table-header {
    text-align: center;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: calc(21% + 34px);
    flex-basis: calc(21% + 34px);
}

.List_List_table_td.table-header {
    text-align: center;
    color: #171717;
    font-size: 14px;
    font-weight: 400;
}

.List_List_table_td_position {
    -ms-flex: 1 0 20%;
    flex: 1 0 20%;
}

.List_List_table_td {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    min-height: 44px;
    line-height: 44px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.List_List_table_td_due_date {
    -ms-flex: 1 0 13%;
    flex: 1 0 13%;
}

.Container_Profile:after {
    display: block;
    content: "";
    clear: both;
}

.Notice_Notice {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    background-color: #1b1c1e;
    border-radius: 8px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    opacity: 0;
    visibility: hidden;
    z-index: 1600;
    width: 360px;
}

.Notice_Notice_icon.Notice_noIcon {
    display: none;
}
.Notice_Notice_icon.Notice_green__xs {
    color: #03c803;
}
.Notice_Notice_icon {
    position: relative;
    font-size: 18px;
    margin-right: 12px;
}

.Notice_Notice_icon .Notice_LargeCheckIcon {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.Notice_Notice_icon.Notice_green__xs svg path {
    fill: #07ba9c;
}